body{
    background: rgb(232,43,20);
    background: linear-gradient(90deg, rgba(232,43,20,1) 3%, rgba(220,222,46,1) 15%, rgba(82,88,208,1) 30%, rgba(83,221,84,1) 50%, rgba(161,114,133,1) 73%, rgba(150,69,252,1) 100%);
}

h1{
    color: white;
    text-align: center;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
}

img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

a{
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
}